/*Nav Styles*/
nav{
    background-color: black;
    text-align: center;
    height: 48px;
}
nav ul{
    padding: 0px;
    margin: 0px;
}
nav li{
    border: 5px solid rgb(11, 81, 146);
    list-style: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(153, 189, 223);
}




/*Background Color Main*/
html{
    background: linear-gradient(rgb(11, 81, 146), black) no-repeat;
    height: 100%;
    font-family: MuseoModerno, sans-serif;
}



/*Text Decoration and Color*/
body{
    color: rgb(153, 189, 223);
}
body h1{
    font-size: 50px;
    text-align: center;
}
h1.title{
    text-align: center;
}
p{
    font-size: 30px;
    text-align: center;
}
@font-face {
    font-family: MuseoModerno;
    src: url(MuseoModerno-VariableFont_wght.ttf);
}

/*Mail to and Tel design*/
a.mail{
    text-decoration: none;
    color: rgb(153, 189, 223);
}
a.tel{
    text-decoration: none;
    color: rgb(153, 189, 223);
}




/*footer styles*/
footer{
    background-color: black;
    color: rgb(153, 189, 223);
    text-align: center;
    position: absolute;
    bottom: 0%;
    width:100%; 
}



/*Grids*/
.row::after{
    clear: both;
    content: "";
    display: table;
}
.col-1-3{
    width: 33%;
    float: left;
}
.col-1-4{
    width: 25%;
    float: left;
}
